neu-toolbar {
  display: block;
  margin-bottom: 20px;
}

div {
  margin-bottom: 20px;
}

neu-button {
  font-size: 5vh;
  width: 50vw;
}

neu-card {
  width: min-content;
  display: block;
  margin-top: 20px;
  margin-left: 10vw;
  font-size: 5vh;
  width: 50vw;
}
